
*{
  font-family: questa, serif;
  letter-spacing: 0.1234em;
  background:transparent;
}

html{
  background-color: white;
}

body{
  background: transparent;
}


h1{
  font-size: 1.4321em;
}

.jobHeading{
  width: 240px;
  padding: 1em;
  margin: 0.25em;
  background-color: red;
}

.jobList{
  padding: 1em;
  background-color: grey;
}

p{
  letter-spacing: initial;
  text-align: justify;
  text-justify: inter-word;
  max-width: 25em;
  text-indent: 0.75em;
  text-overflow: ellipsis;
  word-break: keep-all;
}

a{
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

a.user-link{
  font-size: 1.2em;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover{
  text-decoration: underline;
}

ul{
  list-style: none;
}

input[type="text"], textarea{
  max-width: 40em !important;
  border-radius: 0 !important;
}

input[type="radio"], input[type="checkbox"]{
  margin: 0 0.3em;
}

button, input[type="button"], input[type="submit"]{
  max-width: 40em !important;
}

input[type="text"]:focus, textarea:focus, button:focus{
  box-shadow: 0px 0px 3px black;
}

button:focus{
  box-shadow: 0px 0px 5px black;
}

.features ul{
  list-style-type: square;
}

.row{
  padding: 1em;
}

nav{/*ul removed*/
  float: right;
}

#logo{}

@media all and (min-width: 992px){
  #filters{}
}
@media all and (max-width: 991px){
  #filters{
    padding: 3.21em;
  }
}
