
<div class="col-offset-2 col-lg-8 col-pull-2" id="selectionContainer">
  <div id="filters">
    <form class="form-horizontal">
      <div class="form-group">
        <label>preference</label>
        <input type='text' name='filter' ng-model="filter"></input>
        <input type='submit'></input>
      </div>
    </form>
  </div>
  <div class="col-lg-8">
    <section ng-repeat="dummy in dummyData">
      {{dummy.heading}}
      <article ng-repeat="article in dummy.articles">
        {{article.title}}
      </article>
    </section>
  </div>
</div>
