
<div class="col-lg-12" id="selectionContainer">
  <div id="gridDisplay" class="col-lg-12">
    <ul class="job" ng-repeat="job in jobsData track by $index">
      <li class="jobType">
        <div>
          <strong>{{job.jobtitle}}</strong> - <small>{{job.company}}</small><br />
          {{job.formattedLocation}}<br />
        </div>
        <div class="jobDescription">{{job.snippet | stripTags}}</div>
        {{job.formattedRelativeTime}}<br />
        <a href="{{job.url}}">go to job</a>
      </li>
    </section>
  </div>
</div>
